{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lab Booking</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> </head>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js'></script>
<body>
    {% include "micro_lab/navbar.html" %}
    
    <link href="{% static 'css/styles.css' %}" rel="stylesheet"> 
<main>
    <div class="container">
        {% block content %}
        {% endblock content %}
    </div> 
</main>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

{% if messages %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            {% for message in messages %}
                Swal.fire({
                    icon: '{% if message.tags == "error" %}error{% else %}success{% endif %}',
                    title: '{{ message }}',
                    confirmButtonText: 'ตกลง',
                    confirmButtonColor: '#3085d6'
                });
            {% endfor %}
        });
    </script>
{% endif %}
    </body>
</html>